<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <h4>Update data</h4>
        <br>
        <!-- prevent form submit untuk reload halaman, kemudian memanggil function updateData() -->
        <form @submit.prevent="updateData()">
          <div class="form-group">
            <label>NIM</label>
            <input
              type="number"
              class="form-control"
              placeholder="Input NIM Mahasiswa"
              v-model="form.nim"
              required
            >
          </div>
          <div class="form-group">
            <label>Nama</label>
            <input
              type="textfield"
              class="form-control"
              placeholder="Input Nama Mahasiswa"
              v-model="form.nama"
              required
            >
          </div>
          <div class="form-group">
            <label>Jurusan</label>
            <input
              type="textfield"
              class="form-control"
              placeholder="Input jurusan"
              v-model="form.jurusan"
              required
            >
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="example@blabla.com"
              v-model="form.email"
              required
            >
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        nim: "",
        nama: "",
        jurusan: "",
        email: ""
      }
    };
  },
  created() {
    // load data saat pertama kali halaman dibuka
    this.loadData();
  },
  methods: {
    loadData() {
      // load data berdasarkan id
      axios
        .get("http://localhost:8000/api/mahasiswa/" + this.$route.params.id)
        .then(response => {
          // post value yang dari response ke form
          this.form.nim = response.data.nim;
          this.form.nama = response.data.nama;
          this.form.jurusan = response.data.jurusan;
          this.form.email = response.data.email;
        });
    },
    updateData() {

      this.$swal.fire({
      title: 'Data kamu bakalan dirubah. Yakin?',
      text: "Kalo kamu ubah, maka data tidak akan kembali lagi.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Nggak Jadi',
      confirmButtonText: 'Ubah Dong'
      }).then((result) => {
        if (result.value) {
          this.$swal.fire({
            title: 'Success!',
            text: 'Data berhasil diubah. Yeayy!!!',
            icon: 'success',
            timer: 1500
          });
          //ubah data
          // put data ke api menggunakan axios
          axios
            .put("http://localhost:8000/api/mahasiswa/" + this.$route.params.id, {
              nim: this.form.nim,
              nama: this.form.nama,
              jurusan: this.form.jurusan,
              email: this.form.email
            })
            .then(response => {
              // push router ke read data
              this.$router.push("/");
            });

            }
      })
    }
  }
};
</script>